/* src/styles/experience.css */

.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    max-height: 1000px; /* Limit height for scrolling */
    overflow-y: auto; /* Enable scrolling for excess content */
    padding-top: 60px;
}

.event-image {
    width: 3cm;
    height: 3cm;
    border-radius: 50%;
    margin-bottom: 10px;
}

.timeline {
    position: relative;
    width: 2px;
    height: 100%;
    background-color: #007bff;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.event {
    width: 350px; /* Default width for desktop */
    position: relative;
    margin-bottom: 20px;
}

.date {
    font-weight: bold;
    color: #007bff;
}

.location {
    margin-top: 5px;
    color: #555;
}

.company {
    margin-top: 10px;
    font-weight: bold;
}

.details {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px solid #007bff;
    width: calc(100% - 40px);
}

.details ul {
    list-style-type: none;
}

.details li {
    margin-bottom: 5px;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .experience-container {
        margin-top: 20px;
        padding-top: 40px;
        overflow-y: visible; /* Disable scrolling for mobile */
        max-height: none; /* Allow content to expand */
    }
    
    .event-image {
        width: 2.5cm;
        height: 2.5cm;
    }
    
    .event {
        width: 80%; /* Adjusted width for mobile */
    }
}
